$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  padding-top: 60px;
  font-family: Raleway, sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@font-face {
  font-family: 'fifa';
  src: url('fonts/easanscurves-regular-webfont.eot');
  src: url('fonts/easanscurves-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/easanscurves-regular-webfont.woff2') format('woff2'),
  url('fonts/easanscurves-regular-webfont.woff') format('woff'),
  url('fonts/easanscurves-regular-webfont.ttf') format('truetype'),
  url('fonts/easanscurves-regular-webfont.svg#ea_sans_curves_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, h4 {
  font-family: fifa;
}

.navbar-default, .navbar-inverse {
  .navbar-brand {
    font-family: fifa;
  }
}

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

// Contenedores de Partidos

.match-container {
  display: inline-block;
  margin: 5px auto 0 auto;

  > .match-time {
    display: block;
    clear: both;
    position: relative;
    width: 250px;
    height: 20px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.1);

  }

  > .match-player {
    display: block;
    float: left;
    position: relative;
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.05);

    > .match-player-flag{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      margin: 5px;
      background-clip: content-box;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    > .match-player-name {
      display: block;
      position: absolute;
      top: 0;
      left: 50px;
      width: 170px;
      height: 20px;
      padding: 5px;
      font-size: 15px;
    }

    > .match-player-team {
      display: block;
      position: absolute;
      top: 20px;
      left: 50px;
      width: 170px;
      height: 30px;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
    }

    > .match-player-score {
      display: block;
      position: absolute;
      top: 0;
      left: 220px;
      width: 30px;
      height: 50px;
      padding: 5px;
      font-size: 30px;
      vertical-align: middle;
      text-align: center;
    }

  }
}

.match-played > .match-player {
  background-color: rgba(0, 128, 0, 0.31);
}
